{% extends "index.html" %}
{% block title %}Poke Dextr{% endblock %}
{% block page %}Pokelisting{% endblock %}

{{super()}}

{% block content %}
<tbody>
    <thead>        
    <th>Name</th>
    <th>Type1</th>
    <th>Type2</th>
    <th>Weight</th>
    <th>Height</th>
    </thead>
    {% for pokemon in pokemons%}
    <tr>
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.type1}}</td>
        <td>{{pokemon.type2}}</td>
        {% if pokemon.weight=="" %}
                <td>none</td>
            {% else %}
            <td>{{pokemon.weight}}</td>
            {%  endif  %}
        
        {% if pokemon.height=="" %}
            <td>none</td>
            
            {% else %}
            <td>{{pokemon.height}}</td>
            {%  endif  %}
    </tr>
    {% endfor%}
</tbody>
{% endblock %}
