{% extends "index.html" %}
{% block title %}Poke Dextr{% endblock %}
{% block page %}Pokelisting{% endblock %}

{{super()}}

{% block content %}

<thead>
    <tr>        
    <th>Name</th>
    <th>Type1</th>
    <th>Type2</th>
    <th>Weight</th>
    <th>Height</th>
    </tr>
</thead>
<tbody>
    {% for pokemon in pokemons%}
    <tr>
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.type1}}</td>

        {% if pokemon.type2=='' %}
        <td>none</td>
        {% else %}
        <td>{{pokemon.type2}}</td>
        {%  endif  %}


        {% if pokemon.weight=='' %}
                <td>none</td>
            {% else %}
            <td>{{pokemon.weight}}</td>
            {%  endif  %}
        

        {% if pokemon.height=='' %}
            <td>none</td>
            
            {% else %}
            <td>{{pokemon.height}}</td>
            {%  endif  %}
    </tr>
    {% endfor%}
</tbody>
{% endblock %}
